{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        Oh! si entraste {{ user.username }}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Oye te quieres salir?</button>
        </form>
    {% else %}
        <p>No estas adentro</p>
        <a href="{% url 'login' %}">Entrar</a>
        <a href="{% url 'signup' %}">Registrate dulzura</a>
    {% endif %}

    {% for publication in publication_list %}
        <h2><a href="{% url 'post_detail' publication.pk %}">{{ publication.title }}</a></h2>
        <p>{{ publication.author }}</p>
    {% endfor %}
{% endblock content %}

